@font-face {
	font-family: "gilsanub";
	src: url('../GILSANUB.TTF');
}
@font-face {
	font-family: "britanic";
	src: url('../BRITANIC.TTF');
}
@font-face {
	font-family: "gillubcd";
	src: url('../GILLUBCD.TTF');
}
#div_background {
    height: 100%;
    width: 100%;
    background-image: url('../layout_debut-fin.png');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    overflow:hidden;
}
#content {
    text-align: center;
    font-family:"gilsanub";
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
}
#content p {
    font-size : 80px;
    color: white; 
    text-shadow: black 0.01em 0.01em 0.3em;
}
.end {
    font-size: 20px !important;
}
.timer {
    font-size: 80px !important;
}
.day {
    margin-top: -50px;
    margin-bottom: -50px;
}
.scenese_h2 {
    font-size: 30px;
    font-family: "britanic";
}
.down {
    margin-bottom: -50px;
}
.scenese_img {
    margin-top: -3%;
    text-align: center;
    width: 350px;
    height: 350px;
    filter: drop-shadow(8px 8px 15px #000000);
    animation-name: anim-logoStart;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Animation logo */
@keyframes anim-logoStart {
    25% {transform : rotate(10deg);}
    75% {transform : rotate(-10deg);}
}