@font-face {
	font-family: "gilsanub";
	src: url('../GILSANUB.TTF');
}

#div_background {
    height: 100%;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: "gilsanub";
    font-size : 50px;
    animation-name: anim-titre;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Animation h1 */
@keyframes anim-titre {
  0% {font-size: 50px;}
  50% {font-size: 45px;}
  100% {font-size: 50px;}
}

h3 {
    text-decoration: none;
}

h4 {
    font-size: 20px;
    text-decoration: underline;
    margin :0;
}

.scene1_h2 {
    position: fixed;
    top: 800px;
    font-size: 50px;
    text-decoration: underline;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

/* ----- Logo ------- */

.logo {
    position: fixed;
    width : 120px;
    margin : 50px;
    animation-name: anim-logo;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Animation logo */
@keyframes anim-logo {
    25% {transform : rotate(10deg);}
    75% {transform : rotate(-10deg);}
}

/* ----- Image principale ----- */

#scene1_img {
    max-height: 500px;
    max-width: 600px;
    position : fixed ;
    left : 40%;
    bottom : 360px;
}

figcaption {
    position : fixed ;
    left : 40%;
    bottom : 320px;
    font-size: 25px;
    text-align: center;
}

/* ----- DESCRIPTION -----*/

#desc {
    width: 30%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    border : 0;
    position: fixed;
    bottom : 360px;
    left : 50px;
    font-size: 30px;
    padding : 15px;
}

#desc p {
    margin : 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

/* ----- Genres -----*/

#genre {
    text-decoration: underline;
    grid-column-start: 1;
    grid-column-end: 4;
}

ul {
    margin : 0px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding : 0px;
    padding-top: 5px;
}

li {
    list-style : none;
    display: block;
    margin-top : 5px;
    padding : 5px;
}

/* ----- REAL -----*/

#real {
    position : fixed ;
    right : 150px;
    bottom : 360px;
    text-align: center;
}

#real img{
    max-height : 350px;
    max-width: 300px;
}

#real span {
    font-size: 40px;
    display: block;
}

/* ------- Personnalisé ------- */

/* artsites à plusieurs */

#comediens {
    width : 30%;
    position: fixed;
    left : 35%;
    top : 260px;
}

#comediens ul{
    margin : 0px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

#comediens ul h4 {
    grid-column-start: 1;
    grid-column-end: 4;
}

#comediens img {
    max-width: 150px;
    max-height: 150px;
}

/* architecture */

#artistes {
    max-width : 30%;
    position: fixed;
    right : 80px;
    bottom : 360px;
}

#artistes ul{
    margin : 0px;
    display: grid;
    grid-template-columns: 50% 50% ;
}

#artistes ul h4 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#artistes img {
    max-width: 150px;
    max-height: 150px;
}

