#div_clip_scene2 {
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    border : 0px;
    margin: auto;
    margin-top : 170px;
    width : 75%;
    height : 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_clip_scene2 iframe {
    width: 1280px;
    height: 720px;
    border-radius: 15px;
    border : 0px;
}