@font-face {
    font-family: "gilsanub"; 
    src: url("../GILSANUB.TTF");

    font-family: "britanic"; 
    src: url("../BRITANIC.TTF");
}

body {
    font-family: "britanic";
}

h1 {
    position : fixed ;
    width : 100%;
    margin : auto;
    margin-top : 90px;
    text-align: center;
    text-transform: uppercase;
    font-family: "gilsanub";
}

/* ----- BA -----*/

#ba {
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    border : 0px;
    margin-top : 170px;
    margin-left :20%;
    width : 60%;
    height : 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ba iframe{
    width : 90%;
    height : 90%;
    border-radius: 15px;
    border : 0px;
}

/* ----- ACTORS -----*/

h3 {
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
}

#actors {
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    border : 0px;
    width : 60%;
    max-height: 230px;
    padding-top :10px;
    padding-bottom : 10px;
    margin: auto;
    padding-left :0px;
    display: flex;
    justify-content: center;
}

#actors li {
    list-style : none;
    display: inline-block;
    padding : 10px;
    text-align: center;
}

.img-actor {
    max-width : 150px;
    max-height: 180px;
}