.div_contenu_map {
    display: flex;
    width: 80%;
    height: 80%;
    margin-top : 170px;
    margin-left: 10%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.div_map {
    width: 90%;
    height: 85%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_nom_lieu {
    background-color: rgba(255,255,255,0.5);
    border-radius: 40px;
    width: 80%;
    height: 10%;
    text-align: center;
}

.map {
    width : 1280px;
    height : 650px;
    border-radius: 15px;
    border : 0px;
    margin-left : 10px;
    margin-right : 10px;
}

.nom_lieu {    
    font-size : 25px;
    text-decoration: underline;
}