@font-face {
	font-family: "gilsanub";
	src: url('../GILSANUB.TTF');
}

@font-face {
	font-family: "britanic";
	src: url('../BRITANIC.TTF');
}

#div_header_sondage {
    display: flex;
    height: 18%;
}

#div_header_sondage p {
    width: 20%;
    margin: 0;
}

#logo_sondage {
    width: 25%;
    margin-top: 3%;
    margin-left: 3%;
}

#div_contenu {
    display: flex;
    margin-top: 1%;
    justify-content: space-evenly;
    width: 100%;
    height: 800px;
}

#div_sondage {
    background-color: rgba(255,255,255,0.5);
    width: 45%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: space-between;
    color: white;
    font-family: "britanic";
}

#div_num_choix {
    display: flex;    
    align-items: center;
    justify-content: space-around;
    height: 5%;
    font-size: 16px;
}

#div_num_choix h2 {
    margin: 0;
    text-align: center;
    width: 40%;
    background-color: rgba(240,240,240,0.5);
    border-radius: 20px;
}

#div_noms_choix {
    display: flex;    
    align-items: center;
    height: 10%;
    font-size: 20px;
}

#div_noms_choix h3 {
    margin: 0;
    text-align: center;
    width: 50%;
    text-decoration: none;
}

#div_jauges {
    display: flex;
    align-items: flex-end;
    height: 75%;
}

#zone_jauge1, #zone_jauge2 {
    width: 50%;
    display: flex;
    justify-content: center;
}

#jauge1, #jauge2 {
    background-color: white;
    border-radius: 10px;
    width: 150px;
}

#div_pourcentages {
    display: flex;
    align-items: center;
    height: 10%;
    border-radius: 2%;
    font-size: 28px;
}

#div_pourcentages p {
    width: 50%;
    text-align: center;
}

#div_partie_droite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    border-radius: 2%;
}

#div_webcam {
    background-color: rgba(255,255,255,0.5);
    height: 45%;
    border-radius: 15px;
}

#div_chat {
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ul_chat {
    font-family: "britanic";
    color: white;
    width: 90%;
    height: 90%;
    font-size: 20px;
    line-height: 150%;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.li_sondage {
    margin: 0;
    padding: 0;
}